body {
    padding: 0;
    margin: 0;
    background-color: #232527;
}

h1 {
    font-family: sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.4em;
    padding: 5px 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

p {
    font-size: 24px;
    font-family: sans-serif;
    color: #fff;
}

.nav {
    background-color: #191b1d;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-family: sans-serif;
    gap: 0.5rem;
}

.nav-bar {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    justify-items: center;
    height: 50px;
}

.nav-title-element {
    text-decoration: inherit;
    color: inherit;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.nav-title-element:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
    
}

.content {
    max-width: 1400px;
    padding-top: 12px;
    margin: 0 auto;
}

.game-catalog {
    display: grid;
    grid-auto-flow: column;
    align-self: center;
}

.game-home-page-container {
    font-size: 24px;
    color: #fff;
    font-family: sans-serif;
}

.container-header {
    margin: 3px 0 6px;
}

.game-content-element {
    text-decoration: inherit;
    color: inherit;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.game-card {
    color:inherit;
    text-decoration: none;
}

.game-title {
    font-weight: 500;
    overflow: hidden;
    max-height: 44px;
    text-align: left;
    margin-top: 10px;
}
