body {
    padding: 0;
    margin: 0;
    background-color: #232527;
}

h1 {
    font-family: sans-serif;
    color: #fff;
    font-size: 32px;
    font-weight: 800;
    line-height: 1.4em;
    padding: 5px 0;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
}

p {
    font-size: 24px;
    font-family: sans-serif;
    color: #fff;
}

.nav {
    background-color: #191b1d;
    font-size: 24px;
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
    font-family: sans-serif;
    gap: 0.5rem;
    
}

.nav-bar {
    display: flex;
    grid-template-columns: repeat(6, 1fr);
    padding: 10px;
    justify-items: center;
    justify-content: space-between;
    padding: 10px 100px;
    height: 50px;
}

.nav-title-element {
    text-decoration: inherit;
    color: inherit;
    font-weight: 700;
    text-align: center;
    padding: 10px;
}

.nav-title-element:hover {
    border-bottom: 3px solid white;
    cursor: pointer;
    
}

.flex-container {
    display: flex;
    flex-direction: row;
    justify-content: left;
    padding-left: 235px;
}

.flex-container > div {
    margin: 10px;
    text-align: center;
    line-height: 75px;
    font-size: 30px;
}

.flex-container #game-title {
    font-weight: 500;
    overflow: hidden;
    max-height: 44px;
    text-align: left;
    margin-top: 10px;
    margin-left:20px;
}
